@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,300&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --darkGray: hsl(0, 0%, 55%);
  --veryDarkGray: hsl(0, 0%, 41%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alata", sans-serif;
}

/* Header */
header {
  background-image: url("../images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 140px;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
}

.navbar__hamburger {
  display: none;
  cursor: pointer;
}

.navbar__link {
  display: flex;
  gap: 30px;
}

.navbar__link a {
  color: var(--white);
  font-size: 1.1em;
  text-decoration: none;
  padding-bottom: 4px;
  position: relative;
}

.navbar__link a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 1px solid var(--white);
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}

.navbar__link a:hover::after {
  transform: scale(1);
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  color: var(--white);
  font-weight: 300;
  font-size: 4.5em;
  width: 55%;
  text-transform: uppercase;
  margin: 160px 0;
  border: 2px solid var(--white);
  padding: 40px 10px 30px 40px;
}

/* Introduction */

.introduction {
  display: flex;
  margin: 130px 0px 170px 140px;
}

.introduction__text {
  background-color: var(--white);
  padding: 100px 0px 10px 90px;
  margin-top: 165px;
  position: relative;
  right: 150px;
}

.introduction__text h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3em;
  font-weight: 300;
  color: var(--black);
  text-transform: uppercase;
  line-height: 1.05;
  margin-bottom: 25px;
}

.introduction__text p {
  color: var(--veryDarkGray);
  line-height: 1.7;
}

/* Gallery */

.gallery {
  margin: 0px 140px 150px 140px;
  display: grid;
  grid-template-columns: 1fr 180px;
  gap: 70px;
}

.gallery__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3em;
  font-weight: 300;
  color: var(--black);
  text-transform: uppercase;
}

.gallery__btn {
  color: var(--black);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 5px;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
  padding: 10px 40px;
  position: relative;
  transition: 0.8s;
  overflow: hidden;
  text-align: right;
}

.gallery__btn:hover {
  color: var(--white);
}

.gallery__btn::before {
  content: "";
  bottom: 0;
  left: 0;
  background-color: var(--black);
  position: absolute;
  width: 100%;
  height: 0%;
  border-radius: 50% 50% 0 0;
  transition: 0.8s;
  z-index: -1;
}

.gallery__btn:hover::before {
  height: 190%;
}

#gallery__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column: 1/-1;
  gap: 30px;
}

.grid__img {
  position: relative;
  cursor: pointer;
  transition: 1s;
}

.grid__img::before {
  content: "";
  background-image: linear-gradient(
    rgba(255, 255, 255, 0) 40%,
    rgba(0, 0, 0, 0.6) 80%
  );
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.grid__img img {
  width: 100%;
  height: 100%;
}

.grid__img:hover {
  transform: scale(0.97);
}

.grid__img h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2em;
  font-weight: 300;
  color: var(--white);
  text-transform: uppercase;
  position: absolute;
  bottom: 25px;
  left: 35px;
  width: 60%;
  text-shadow: -2px 2px 0 var(--white), 2px 2px 0 var(--white),
    2px -2px 0 var(--white), -2px -2px 0 var(--white);
}

.grid__img:hover h3 {
  color: var(--black);
  text-shadow: -2px 2px 0 var(--black), 2px 2px 0 var(--black),
    2px -2px 0 var(--black), -2px -2px 0 var(--black);
}

.grid__img:hover::before {
  content: "";
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.6) 70%,
    rgba(255, 255, 255, 0.6) 60%
  );
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Footer */

footer {
  background-color: var(--black);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 40px 140px 50px 140px;
}

.footer__logo img {
  width: 160px;
  cursor: pointer;
}

.footer__social {
  padding-top: 5px;
  display: flex;
  justify-content: end;
  gap: 20px;
}

.footer__social a {
  font-size: 0.9em;
  padding-bottom: 4px;
  position: relative;
}

.footer__social a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 1px solid var(--white);
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}

.footer__social a:hover::after {
  transform: scale(1);
}

.footer__link {
  display: flex;
  gap: 30px;
}

.footer__link a {
  color: var(--white);
  opacity: 0.8;
  text-decoration: none;
  padding-bottom: 4px;
  position: relative;
  transition: 0.5s ease-in-out;
}

.footer__link a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 1px solid var(--white);
  opacity: 0.8;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}

.footer__link a:hover::after {
  transform: scale(1);
}

.footer__legal {
  color: var(--veryDarkGray);
  font-size: 0.9em;
  text-align: right;
}

@media all and (max-width: 1380px) {
  /* Header */

  header {
    background-image: url("../images/mobile/image-hero.jpg");
    padding: 40px 50px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__hamburger {
    display: block;
  }

  .navbar__link {
    background-color: var(--black);
    text-transform: uppercase;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 85%;
    padding: 200px 50px;
    position: absolute;
    top: 15%;
    right: 0;
    margin-top: -120%;
    transition: 0.7s ease-in-out;
  }

  .navbar__link.navbar__mobile {
    margin-top: 0;
  }

  .navbar__link a {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.7em;
    font-weight: 300;
  }

  h1 {
    font-size: 3.5em;
    width: 70%;
    margin: 200px 0;
  }

  /* Introduction */

  .introduction {
    flex-direction: column;
    margin: 100px 50px;
  }

  .introduction img {
    width: 100%;
  }

  .introduction__text {
    padding: 25px 10px 0px 10px;
    margin-top: 30px;
    right: 0px;
  }

  .introduction__text h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
  }

  .introduction__text p {
    text-align: center;
  }

  /* Gallery */

  .gallery {
    margin: 0px 50px 110px 50px;
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .gallery__title {
    font-size: 2em;
    text-align: center;
  }

  .gallery__btn {
    margin: 0 70px;
    text-align: center;
    grid-row: 3;
  }

  #gallery__grid {
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }

  .grid__img h3 {
    font-size: 1.5em;
    bottom: 15px;
    left: 20px;
    width: 45%;
  }

  /* Footer */

  footer {
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 60px 10px 50px 10px;
  }

  .footer__logo {
    text-align: center;
    margin-bottom: 15px;
  }

  .footer__social {
    justify-content: center;
    gap: 15px;
    grid-row: 3;
  }

  .footer__link {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
  }

  .footer__legal {
    text-align: center;
  }
}

@media all and (max-width: 700px) {
  /* Header */

  header {
    padding: 40px 25px;
  }

  .navbar__link {
    align-items: flex-start;
    margin-top: -270%;
    padding: 170px 25px;
  }

  h1 {
    font-size: 2.4em;
    width: 100%;
    padding: 25px 20px 15px 20px;
  }

  /* Introduction */

  .introduction {
    margin: 100px 25px 100px 25px;
  }

  /* Gallery */

  .gallery {
    margin: 0px 25px 110px 25px;
  }

  #gallery__grid {
    grid-template-columns: 1fr;
  }
}
